{% extends 'base.html' %} {% block index %}

<figure class="text-center">
  <blockquote class="blockquote">
    <h2 class="h2">Welcome To OCR App</h2>
  </blockquote>
  <hr />
  <figcaption class="blockquote-footer">
    <h4>
      OCR stands for <b>"Optical Character Recognition."</b> It is a technology
      that recognizes text within a digital image. It is commonly used to
      recognize text in scanned documents and images. OCR software can be used
      to convert a physical paper document, or an image into an accessible
      electronic version with text.
    </h4>
  </figcaption>
</figure>
{% endblock index %}
